<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kanban</title>
</head>

<body>
    <h1>Kanban</h1>
     <div>
        <form action="login" method="POST" accept-charset="utf-8">
            
            <label> Email
                <input name="email" type="email">
            </label>
            <label> Password
                <input name="password" type="password">
            </label>
            <input type="submit" value="enviar">
        </form>
    </div>
    <div>
        <form action="user" method="POST" accept-charset="utf-8">
            
            <label> Email
                <input name="email" type="email">
            </label>
            <label> Username
                <input name="name" type="text">
            </label>
            <label> Password
                <input name="password" type="password">
            </label>
            <input type="submit" value="enviar">
        </form>
    </div>
</body>

</html>